table, td {
    padding : 10px;
    border-collapse : collapse;

}

thead {
    background-color: whitesmoke;
    border-bottom: 2px solid darkslategrey;

}

tr {
    border-bottom: 1px soild lightgrey;
}

table{ 
    margin: 25vh auto;

}