/* For Testing */
/*body {
    background-color: blue;
}*/

#number-one{
    color: rosybrown;
}

#number-two{
    font-size: 18px;
}

.first-class{
    color: green;
}

.second-class{
    font-size: 24px;
}